<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" alt="logo ejemplo" class="caard-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password Here">
                        </div>
                        <div class="form group">
                            <button class="btn btn-success btn-block">
                                SignIn
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>