<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MI PRIMER SERVER</title>
</head>
<body>

    <%- include ('partials/navigation.ejs') %>

    <h1>HOLA CON EXPRESS Y EJS</h1>
    
</body>
</html>